* {
    font-family: sans-serif;
}
.bar-java-cro {
    border-color: rgb(231, 111, 0);
    background-color: rgb(231, 111, 0);
    color: #fff;

}
.tabs-background-app {
   
}

.app-title {
    color: white;
}
.tabs-striped.tabs-background-positive .tabs {
    border-color: rgb(231, 111, 0);
    background-color: rgb(231, 111, 0);
    background-image: none;
}